{% extends 'base.html' %}
{% block content %}

<h1>Here is Your Wish List</h1>
{% for wish in wishes %}
{% empty %}
<h3>You Have Not made Any Wishes Yet! Go For It!</h3>
{% endfor %}
<table class = "pure-table" class = "pure-table-striped">
    <!-- Render the inputs inside of <tr>s & <td>s -->
    {{ form.as_table }}
    <thead>
        <tr>
            <th>Your Wish Description: </th>
            <th>Delete Wish</th>
        </tr>
    </thead> 
    <tbody>
        {% for wish in wishes %}
        <tr>
            <td>{{ wish.description }}</td>
            <td><a href = "{% url 'wishes_delete' wish.id %}" >X</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr>
<div>
    <a href="{% url 'wishes_create' %}" class = 'pure-button'>Add More Wishes Here</a>
</div>
{% endblock %}