{% extends 'base.html' %}
{% block content %}

<h1>Wish List Items</h1>
<h3>No Wish Items Exist</h3>
{% for wish in wish_list %}

<table class = "pure-table" class = "pure-table-striped">
    <!-- Render the inputs inside of <tr>s & <td>s -->
    {{ form.as_table }}
    <thead>
        <tr>
            <th>Description: --</th>
            <th>Delete</th>
        </tr>
    </thead> 
    <tbody>
        <tr>
            {% for wish in wishes %}
            <td>{{ wishes.wish }}</td>
            {% endfor %}
            <td><a href = "#">X</a></td>
        </tr>
    </tbody>
</table>
{% endfor %}
<hr>
<div>
    <a href="{% url 'index' %}" class = 'pure-button'>Add Wish Item</a>
</div>
{% endblock %}