{% extends 'base.html' %}
{% block content %}

<h1>Wish List Items</h1>
<h3>No Wish Items Exist</h3>

<table class = "pure-table" class = "pure-table-striped">
    <!-- Render the inputs inside of <tr>s & <td>s -->
    {{ form.as_table }}
    <thead>
        <tr>
            <th>Description: </th>
            <th>Delete</th>
        </tr>
    </thead> 
    <tbody>
            {% for wish in wishes %}
        <tr>
            
            <td>{{ wish.description }}</td>
            <td><a href = "">X</a></td>

        </tr>
        {% endfor %}

    </tbody>
</table>
<hr>
<div>
    <a href="{% url 'wishes_create' %}" class = 'pure-button'>Add Wish Item</a>
</div>
{% endblock %}